body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: aliceblue;
    color: #505050;
    font-size: 14px;
}

div{
    padding-top: 10px;
    padding-bottom: 10px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.app {
    background-color: #7fffd488;
    border-radius: 16px;
    width: 550px;
    margin: auto;
    padding: 40px;
}

.timer{
    font-size: 36px;
    padding: 40px;
}

#add-task{
    margin-top: 10px;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 15px 10px 15px;
    background-color: #4682b4;
    border-width: 1px;
    border-color: #00000000;
    border-radius: 16px;
    color: white;
    margin: 0px 5px 0px 5px;
}

button:hover{
    border-width: 1px;
    border-color: black;
    background-color: #1b3b49;
    cursor: pointer;
}

button:disabled{
    background-color: rgb(148, 148, 148);
    cursor: not-allowed;
    border-width: 0px;
}

.close-popup-btn{
    display: block;
    width: 24px;
    float: right;
}

.close-popup-btn:hover{
    cursor: pointer;
}

table {
    text-align: center;
    margin: auto;
    padding: 10px;
}

th{
    font-size: 16px;
    padding: 10px;
}

#popup{
    display: none;
}

.popup-overlay{
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #f0f0f080;
}

.popup-content{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 16px;
}